# --------------------------------------
# Python
# --------------------------------------

__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.coverage

# --------------------------------------
# Virtual Environment
# --------------------------------------

venv/
.venv/
env/

# --------------------------------------
# Environment Variables
# --------------------------------------

.env

# --------------------------------------
# Google Service Account Credentials
# --------------------------------------

credentials/
*.json

# --------------------------------------
# IDE
# --------------------------------------

.vscode/
.idea/

# --------------------------------------
# OS Files
# --------------------------------------

.DS_Store
Thumbs.db