fastapi
uvicorn

supabase
postgrest

groq

gspread
google-auth
google-auth-oauthlib
google-auth-httplib2

requests
httpx

python-dotenv

pydantic
pydantic-settings

numpy

sentence-transformers

pytest